/*body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
/* background-image: url("sustainability.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: auto;
    width: auto;
}*/
html, body {
  background: rgb(240, 242, 252)
}
.header {
  /* overflow: hidden; */
  width: 100vw;
  height: 500px;
  display: block;
  background: linear-gradient(to bottom, rgba(29, 31, 41, 0.52), rgba(14, 53, 90, 0.73)), url("../images/sustainability.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.info-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 25px;
}

.info-section {
  display: block;
  width: 100%;
  text-align: center;
}
